* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

span {
    color: teal;
    font-weight: 700;
    
}
.width {
    max-width: 100%;
    padding: 0 30px;
    margin: auto
}
    



 /* Styling for Navbar */

.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: rgb(177, 177, 177);
}
.navbar .logo {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: white;
    font-size: 16px;
}


.navbar .width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Styling for Home */

.home {
    display: flex;
    background: url(./Assests/black-wallpapers.png) no-repeat center;
    height: 100vh;
    color: #ffffff;
    min-height: 500px;
    font-family:;

}

.home .home-content .ptext1 {
    font-size: 25px;
}

.home .home-content .ptext2 {
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .ptext3 {
    font-size: 40px;
    margin: 5px 0;
}